a:link    { font-weight :bold; color:blue; text-decoration:none; }
a:visited { font-weight :bold; color:gray; text-decoration:none; }
a:focus   { font-weight :bold; color:red; text-decoration:underline; }
a:hover   { font-weight :bold; color:green; text-decoration:none; }
a:active  { font-weight :bold; color:lime; text-decoration:underline; }
	*     { font-family:Verdana,sans-serif; }
body      { background: snow; }
h1        { font-size:1.2em; }
h2        { font-size:1em; }
	p     { font-size:0.8em; }
ul        { list-style-type:circle; }